{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}桂声后台{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>最近发布</h2>
    <ul class="posts">
    {% for post in news %}
    <li class="post">
        <div class="post-content">
            <div class="post-author">
                <h5>{{ post.author.username }}</h5>{{ moment(post.timestamp).fromNow() }}
            </div>
            <div class="post-title">{{ post.title }}</div>
            <div class="post-body"><h6>{{ post.body }}<h6></div>
        </div>
        <hr/>
    </li>
    {% endfor %}
    </ul>
</div>
{% include '_posts.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}
